@import "functions";

ng-md-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

nav .brand-logo{
  padding: 0px 15px;
}
