@import "functions";

[ng-click]{
  cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.hidden{
  display: none;
}

.ramjet-hidden{
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  padding-left:0.7% !important;
  padding-right:0.7% !important;
  padding-bottom:0% !important;
  z-index:0;
}

.ramjet-con{
  position: relative !important;
}

.fileupload{
  cursor:pointer;
}

[for="caption"], [for="title"]{
  left: 0 !important;
}

ng-md-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.upload-main-icon{
  width: auto !important;
  height: auto !important;
}

nav .brand-logo, nav .button-collapse{
  padding: 0px 15px;
}

.flow-container{
  min-height:500px;
}

.upload-img-preview{
  background-position: center center;
  background-size:cover;
  display:inline-block;
  height:100%;
}

.aspect-ratio{
  @include aspect-ratio(1, 1);
}

.top-loader{
  margin: 0;
  margin-bottom:-5px;
}

.top-loader.ng-enter, .top-loader.ng-leave {
  @include materialBounce(opacity);
}

.top-loader.ng-leave{
  @include transition-delay(1s);
}

.top-loader.ng-enter,
.top-loader.ng-leave.ng-leave-active {
  opacity:0;
}

.top-loader.ng-leave,
.top-loader.ng-enter.ng-enter-active {
  opacity:1;
}
