<div class="container">

  <div class="row"
    ngf-drop
    ng-model="file"
    ngf-drag-over-class="dragover"
    ngf-multiple="false" ngf-allow-dir="false"
    ngf-accept="'image/*'">

    <form ng-submit="submitUpload()">
      <div class="col s12"><h3></h3></div>

      <div class="col s12 ramjet-con">
        <div id="flow-container" class="flow-container col s12 no-padding valign-wrapper grey darken-4 white-text fileupload"
            ng-show="!fileSelected"
            ng-init="cameraIcon = 'camera_alt'"
            ng-mouseover="cameraIcon = 'cloud_upload'"
            ng-mouseleave="cameraIcon = 'camera_alt'"
            ng-click="transform()">

          <div class="col s12 no-padding center-align valign">

            <ng-md-icon
              icon="{{cameraIcon}}"
              style="fill: white"
              class="upload-main-icon"
              options='{"rotation": "none"}'
              size="84">
            </ng-md-icon>

            <h4>Upload Photos</h4>
            <div class="hidden">
              <input type="file" ngf-select ng-model="file"/>
            </div>
          </div>

        </div><!-- End of Flow Fileupload Container -->

        <div id="upload-card" class="col s12 m8 l6 offset-l3 offset-m2 no-padding ramjet-hidden hidden">
          <div class="row center-align grey-text text-darken-3">
            <div class="card left-align">
              <div class="card-image waves-effect waves-block waves-light aspect-ratio">
                <img class="upload-img-preview content" style="background-image: url({{ fileData }})"/>
              </div>
              <div class="card-content">
                <div class="input-field">
                  <input id="title" type="text" class="validate">
                  <label for="title">Title</label>
                </div>
                <div class="input-field">
                  <textarea id="caption" class="materialize-textarea" length="144"></textarea>
                  <label for="caption">Caption</label>
                </div>
              </div>
              <div class="card-action right-align">
                <a class="waves-effect waves-teal btn-flat" ng-click="$flow.resume()">Upload Image</a>
                <a class="waves-effect waves-teal btn-flat" >Cancel</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </form>
  </div>

</div>
